@using BarcodeVer1._0.Models;
@model IEnumerable<BarcodeVer1._0.Models.Attendance>
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout1.cshtml";
    Attendance at = new Attendance();
}

<h2>Session @ViewBag.Session - @ViewBag.Day</h2>
        @using (Html.BeginForm("Change", "Attendance", FormMethod.Post))
        {
            <div class="row">
                <div class="col-md-6">
                    @Html.DropDownList("Count_Lesson", (SelectList)ViewBag.Lesson, string.Empty, new { @class = "form-control" })
                    <input type="submit" value="change" class="btn btn-default" />
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <p class="col-md-4">Total: @ViewBag.Total</p>
                        <p class="col-md-4">Attend: @ViewBag.Attend</p>
                        <p class="col-md-4">Miss: @ViewBag.Miss</p>
                    </div>
                </div>
            </div>
        }
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-block">
                        <div class="table-responsive m-t-40">
                            <section class="panel">
                                <table id="myTable" class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>
                                                ID
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Member.Firstname)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Member.Lastname)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Status)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Lesson.MaKH)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Note)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                         
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Member.MaSV)
                                               </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Member.Firstname)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Member.Lastname)
                                                </td>
                                                <td>
                                                    @if (item.Status == true)
                                                    {
                                                        <span class="icon-check" style="color:forestgreen"></span>
                                                    }
                                                    else
                                                    {
                                                        <span class="icon-close" style="color:red"></span>
                                                    }
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Lesson.MaKH)
                                                </td>
                                                <td>
                                                        @Html.DisplayFor(modelItem => item.Note)                                                  
                                                </td>
                                                <td>
                                                    <a href="javascript:void(0);" onclick="Edit(@item.ID)">Edit</a> |
                                                    @Html.ActionLink("Status", "EditStatus", new { id = item.ID })  |
                                                    <a href="javascript:void(1);" onclick="View(@item.ID)">Profile</a>    
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
<!--Modal change note-->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                        <h4 class="modal-title">Note</h4>
                    </div>
                    <div class="modal-body" id="myModalBodyNote">

                    </div>                  
                </div>
            </div>
        </div>

@*<div class="col-xs-6">
    <p>Total: @ViewBag.Total</p>
    <p>Attend: @ViewBag.Attend</p>
    <p>Miss: @ViewBag.Miss</p>
</div>*@

<!--Modal view info student-->
<div class="modal fade" id="myModalStudent" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Profile</h4>
            </div>
            <div class="modal-body" id="myModalBodyStudent">

            </div>
        </div>
    </div>
</div>


@section scripts
{
    <script>
        function Edit(id)
        {
            
            var url = "/Attendance/ChangeNote?id=" + id;
            $("#myModalBodyNote").load(url, function () {
                //lam model khong dong khi an ra ben ngoai
                $("#myModal").modal({
                    backdrop:'static',
                    keyboard: false
                })
                //
                $("#myModal").modal("show");
            })
        }
        function View(id)
        {
            var url = "/Attendance/StudentInfo?id=" + id;
            $("#myModalBodyStudent").load(url, function () {
                $("#myModalStudent").modal("show");
            })
        }

    </script>


<script>
        $('#myTable').DataTable({
            "ordering": false
        });
</script>
    }