@using BarcodeVer1._0.Models;
@model IEnumerable<BarcodeVer1._0.Models.Attendance>
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout1.cshtml";
    Attendance at = new Attendance();
}

<h2>Detail @ViewBag.Day</h2>
@using (Html.BeginForm("Change", "Attendance", FormMethod.Post))
{
    <div class="col-xs-6">
        @Html.DropDownList("Count_Lesson", (SelectList)ViewBag.Lesson, string.Empty, new { @class = "form-control" })
            <input type="submit" value="change" class="btn btn-default" />
    </div>
}
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-block">
                        <div class="table-responsive m-t-40">
                            <section class="panel">
                                <table id="myTable" class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>
                                                ID
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Member.Firstname)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Member.Lastname)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Status)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Lesson.MaKH)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Note)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Member.MaSV)
                                                    <input type="text" hidden value="@item.ID" id="test" />
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Member.Firstname)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Member.Lastname)
                                                </td>
                                                <td>
                                                    @if (item.Status == true)
                                                    {
                                                        <span class="icon-check" style="color:forestgreen"></span>
                                                    }
                                                    else
                                                    {
                                                        <span class="icon-close" style="color:red"></span>
                                                    }
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Lesson.MaKH)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Note)
                                                </td>
                                                <td>
                                                    <a href="#" class="edit" data-toggle="modal" data-target="#myModal" data-id="@item.ID" onclick="check()">Edit </a> |
                                                    @Html.ActionLink("Status", "EditStatus", new { id = item.ID })                                                    
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <p>Total: @ViewBag.Total</p>
            <p>Attend: @ViewBag.Attend</p>
            <p>Miss: @ViewBag.Miss</p>
        </div>

        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Note</h4>
                    </div>
                    @using (Html.BeginForm("WriteNote", "Attendance", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        <fieldset>
                            <div class="modal-body">
                                <form id="myForm">
                                    
                                    <input class="form-control" placeholder="Note" id="note" name="note" type="text" />
                                    <input id="id_sv" name="id" hidden /> 
                                </form>
                            </div>
                            <div class="modal-footer">
                                <input type="submit" value="Submit" class="btn btn-success" id="btnSubmit" data-dismiss="modal">
                            </div>
                        </fieldset>
                    }
                    
                   
                </div>

            </div>
        </div>



@section scripts
{
    <script>
        var TeamDetailPostBackURL = '/Attendance/WriteNote';
$(function () {
    $(".anchorDetail").click(function () {
        debugger;
        var $buttonClicked = $(this);
        var options = { "backdrop": "static", keyboard: true };
        $.ajax({
            type: "GET",
            url: TeamDetailPostBackURL,
            datatype: "json",
            success: function () {
                debugger;
                $('#myModal').modal(options);
                $('#myModal').modal('show');
            },
            error: function (error) {

                alert("Dynamic content load failed. - " + error );
            }
        });
    });

    $("#btnSubmit").click(function () {
        var url = '/Attendance/WriteNote';
        $('#myModal').modal('hide');
        $.post('/Attendance/WriteNote', { "Note": note})
        alert("You click me!");
        window.location.reload(true);
    });
});


function check() {
    document.getElementById("id_sv").value = $("#test").val();
}


    </script>


<script>
        $('#myTable').DataTable({
            "ordering": false
        });
</script>

@*<script>
    $(document).on('click', 'edit', function () {
        var memberId = $(this).data('data-id');
    })

    $(document).on('click', '#btnSubmit', function () {
        var self = $(this);
        var not = document.getElementId("note").value;
        $.ajax({
            url: '/Attendance/WriteNote/' + memberID,
            type: 'POST',
            // data: self.closest('form').serialize(),
            data: {'note': not},
            success: function (data) {
                if (data.success == true) {
                    $('#myModal').modal('hide');
                    location.reload(false)
                } else {
                    $('#myModal').html(data);
                }
            }
        })
    })
</script>*@
}

