@model IEnumerable<BarcodeVer1._0.Models.Attendance>
@{
    ViewBag.Title = "ListAttendance";
    Layout = "~/Views/Shared/_Layout1.cshtml";

}
<h2>List @ViewBag.Day</h2>

<table class="table">
    <tr>
        <th>
            ID
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Member.Firstname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Member.Lastname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lesson.MaKH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Note)
        </th>
        <th></th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Member.MaSV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Member.Firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Member.Lastname)
            </td>
            <td>
                @if (item.Status == true)
                {
                    <span class="icon-check" style="color:forestgreen"></span>
                }
                else
                {
                    <span class="icon-close" style="color:red"></span>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lesson.MaKH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td></td>
            <td>
                    <a href="#" data-toggle="modal" data-target="#myModal" @item.ID>Edit </a>
                    @Html.ActionLink("Status", "EditStatus", new { id = item.ID })
                </td>
        </tr>
    }

</table>
<div>
    <p>Total: @ViewBag.Total</p>
    <p>Attend: @ViewBag.Attend</p>
    <p>Miss: @ViewBag.Miss</p>
</div>

 <!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Note</h4>
            </div>
            <div class="modal-body">
               
            </div>
            <div class="modal-footer">
                <input type="submit" value="Submit" class="btn btn-default" data-dismiss="modal">
            </div>
        </div>

    </div>
</div>



@using (Html.BeginForm("EditNote", "Attendance", FormMethod.Post, new { id = "form-accountprofileedit", @class = "full-form" }))
{

    @Html.AntiForgeryToken()
    @*@Html.CustomTextboxFor(model => model.Address)*@


    <div style="text-align:right;">
        <button type="submit" id="accountprofileedit-submit" name="accountprofileedit-submit" value="Edit Account" class="btn btn-primary" style="margin-left:5px;">Edit Account</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
    </div>
}

@*@section Scripts {
    <script>
        $(document).ready(function () {

            $('#AccountEditModal').on('shown.bs.modal', function () {
                $('#myInput').focus()
            })



        $("#AccountEditModal").on("submit", "#form-accountprofileedit", function (e) {
            e.preventDefault();  // prevent standard form submission

            var form = $(this);
            $.ajax({
                url: form.attr("action"),
                method: form.attr("method"),  // post
                data: form.serialize(),
                success: function (partialResult) {
                    $("#formContent").html(partialResult);
                }
            });
        });


        });

    </script>
}*@
   


