@model IEnumerable<BarcodeVer1._0.Models.Member>

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout1.cshtml";
    var ID = ViewBag.Count;
}

<h2>List Of Student</h2>

<!-- kiem tra neu dang nhap lop hoc lan dau thi cho lay du lieu tren api ve -->
@if (Model.Count() == 0)
{
    <div>
        <form method="post" action="~/Member/Syns/@Session["ID_Course"]">
            <button type="submit">Synchronize</button>
        </form>
    </div>
}


<div class="card">
    <div class="card-block">
        <div class="table-responsive m-t-40">
            <section class="panel">
                <table id="myTable" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                ID
                            </th>
                            <th>
                                First Name
                            </th>
                            <th>
                                Last Name
                            </th>
                            <th>
                                Attend
                            </th>
                            <th>
                                Miss
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.MaSV)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Firstname)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Lastname)
                                        </td>
                                        <td>
                                            @item.Attendances.Where(x => x.Status == true).Count()
                                        </td>
                                        <td>
                                            @item.Attendances.Where(x => x.Status == false).Count()
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {

                            }

                        }
                    </tbody>
                </table>
            </section>
</div>
        <a href="~/Member/AddStudent">Add Student</a>
        <div>
        </div>
    </div>
</div>
    <a href="~/Lesson/CreateDate">Roll Up</a> |
@if (ID != 0)
{
    <a href="~/Attendance/Detail/@ID">Detail of Lesson</a>
}
else
{
<a  data-toggle="tooltip" title="Not Create Leson">Detail of Lesson</a>
}

<div>
    
</div>

@section scripts{
    <script>
        $('#myTable').DataTable({
            "ordering": false
        });
    </script>
}




