@model IEnumerable<BarcodeVer1._0.Models.Member>

@{
    ViewBag.Title = "List of Students";
    Layout = "~/Views/Shared/_Layout1.cshtml";
    var ID = ViewBag.Count;
    var makh = ViewBag.MaKH;

}

<h1 class="text-center">List of Students</h1>
<div>
    <a href="~/Lesson/CreateDate">Roll-Call</a> |

    <a href="~/Lesson/ListLesson/@makh">Detail of Lesson |</a>

    <a href="~/Member/AddStudent">Add Student</a>
</div>

<div class="card">
    <div class="card-block">
        <div>
            <a href="~/Member/PostSynsMember/@makh">Sync</a>
            @TempData["message"]
        </div>
        <div class="table-responsive m-t-40">
            <section class="panel">
                <table id="myTable" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                Student ID
                            </th>
                            <th>
                                First Name
                            </th>
                            <th>
                                Last Name
                            </th>
                            <th>
                                Total
                            </th>
                            <th>
                                Present
                            </th>
                            <th>
                                Absent
                            </th>
                            <th>
                                Note
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.MaSV)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Firstname)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Lastname)
                                        </td>
                                        <td>
                                           @ViewBag.Total
                                        </td>
                                        <td>
                                            @item.Attendances.Where(x => x.Status == true).Count()
                                        </td>
                                        <td>
                                            @item.Attendances.Where(x => x.Status == false).Count()
                                        </td>
                                        @if (item.Status == false)
                                        {
                                            <td>
                                                Not Synchronize
                                            </td>
                                        }else
                                        {
                                            <td></td>
                                        }
                                    </tr>
                                }
                            }
                            else
                            {

                            }

                        }
                    </tbody>
                </table>
            </section>
</div>
        <div>
            <a href="~/Member/PostSynsMember/@makh">Sync</a>
            @TempData["message"]
        </div>
    </div>
</div>
<a href="~/Lesson/CreateDate">Roll-Call</a> |

<a href="~/Lesson/ListLesson/@makh">Detail of Lesson |</a>

<a href="~/Member/AddStudent"><i class="mdi mdi-plus-circle"></i>Add Student</a>

<div>
    
</div>

@section scripts{
    <script>
        $('#myTable').DataTable({
            "ordering": true
        });
    </script>
}




