@model IEnumerable<BarcodeVer1._0.Models.Attendance>

@{
    ViewBag.Title = "ListAttendance";
    Layout = "~/Views/Shared/_Layout1.cshtml";
   
}
<h2>List Attendance @Session["Dayyyy"]</h2>

<table class="table">
    <tr>
        <th>
            ID
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Member.Firstname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Member.Lastname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lesson.MaKH)
        </th>
       
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Member.MaSV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Member.Firstname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Member.Lastname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.Lesson.MaKH)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>*@
    </tr>
}

</table>

